<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>登录页面</title>

	<link rel="stylesheet" href="../iconfont/iconfont.css">
	<link rel="stylesheet" href="../css/login3.css">


</head>
<body>
	<div class="loginBox">
    <div class="header">
      <h4>欢迎登录小米有品</h4>
    </div>
    <div class="main">
      <div v-if="type===2">
        <div class="inpBox">
          <input type="text" placeholder="手机号码" v-model="account" />
        </div>
        <div class="inpBox">
          <input type="text" placeholder="短信验证码" class="short" v-model="password" />
          <a href="javascript:;" @click="sendCode"><!-- {{isRun?`${runTime}s后重新获取`:`获取验证码`}} --></a>
        </div>
      </div>

      <div v-if="type===1">
        <div class="inpBox">
          <input type="text" placeholder="用户名/手机号码" v-model="account" />
        </div>
        <div class="inpBox">
          <input type="password" placeholder="密码" v-model="password" />
        </div>
      </div>

      <button class="submit" @click="loginHandle">立即登录</button>
      <span class="changeBtn" @click="changeType"><!-- {{type===1?'短信验证码登录':'用户名密码登录'}} --></span>
    </div>

    <div class="register">
      <router-link to="/register">立即注册</router-link>|
      <a>忘记密码</a>
    </div>

    <div class="other">
      <span>其他登录方式</span>
      <div>
        <a></a>
        <a></a>
        <a></a>
      </div>
    </div>
  </div>
</body>
</html>