@charset "UTF-8";
*{
	box-sizing: border-box;
}
html,body{
	height: 100%;
	padding: 0;
	margin: 0;
}
html{
	font-size: 26.67vw;
	overflow-x:hidden;

}
body{
	display: flex;
	flex-direction: column;
	font-size: 0.15rem;
	 overflow-x:hidden;
}
/*----Header---------*/
mt-navbar{
	display: flex;
	justify-content: center;
	align-content: center;
}
.mint-navbar .mint-tab-item .mint-tab-item-label{
	height: 0.4rem !important;
    line-height: 0.4rem !important;
	font-weight: 700 !important;
	font-size: 0.15rem;
}

.mint-navbar{
	margin-bottom: 0.05rem !important;
}
.mint-navbar .mint-tab-item{
	padding: 0.05rem 0;
}
.icon-arrow-right:before{
	content: "\e68d" !important;
}